<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]=""
          [icon]="">
      </ion-back-button>
    </ion-buttons>
    <ion-icon class="elipse_menu" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="padding-y">

    <ion-row class="ion-align-items-center" >
      <ion-col size="4" >
        <img-loader class="profile_image" [src]=searchServicesModels[0].serviceProvider.user.imageUrl [useImg]="true"></img-loader>
      </ion-col>
      <ion-col class="profile_header" size="8">
        <h2>{{searchServicesModels[0].serviceProvider.user.firstName + ' ' + searchServicesModels[0].serviceProvider.user.lastName}}</h2>
        <p><ion-icon class="icon" name="location-outline"></ion-icon> {{searchServicesModels[0].serviceProvider.user.location}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" class="ion-text-center">
        <p class="fz-sm">{{searchServicesModels[0].serviceProvider.shortBiography}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="openBooking(this.searchServicesModels[0].serviceProvider?.id)" fill="solid" color="secondary" expand="full" class="btn-md fw-bold">Book Now</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="profile_feed">
    <ion-row>
      <ion-col size="6" *ngFor="let service of searchServicesModels;">
          <div class="card_image_service-search">
            <img-loader class="card_image" [src]=service.imageUrl [useImg]="true"></img-loader>
          </div>
        <p class="sp_title">{{service.name}}</p>
        <p class="fz-sm">
          <ion-icon class="icon" name="location-outline"></ion-icon>
          {{service.location}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
