<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Subscription Specifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let subscriptionSpecification of subscriptionSpecifications; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(subscriptionSpecification)">
        <ion-label text-wrap>
          <p>{{subscriptionSpecification.numberOfUsers}}</p>
          <p>{{subscriptionSpecification.targetArea}}</p>
          <!-- todo: special handling for translating enum - {{'ProfilePageType.' + subscriptionSpecification.profilePage}}" -->
          <p>{{subscriptionSpecification.profilePage}}</p>
          <!-- todo: special handling for translating enum - {{'PaymentType.' + subscriptionSpecification.paymentOption}}" -->
          <p>{{subscriptionSpecification.paymentOption}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, subscriptionSpecification)">
          {{ 'EDIT_BUTTON' | translate }}
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(subscriptionSpecification)">
          {{ 'DELETE_BUTTON' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!subscriptionSpecifications?.length">
    <ion-label>
      No Subscription Specifications found.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
