<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Subscription Specification
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Number Of Users</ion-label>
        <ion-input type="number" name="numberOfUsers" formControlName="numberOfUsers"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Target Area</ion-label>
        <ion-input type="number" name="targetArea" formControlName="targetArea"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Profile Page</ion-label>
        <ion-select formControlName="profilePage" id="field_profilePage">
          <ion-select-option value="GENERAL">{{'ProfilePageType.GENERAL' | translate}}</ion-select-option>
          <ion-select-option value="CUSTOM">{{'ProfilePageType.CUSTOM' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Payment Option</ion-label>
        <ion-select formControlName="paymentOption" id="field_paymentOption">
          <ion-select-option value="CARD">{{'PaymentType.CARD' | translate}}</ion-select-option>
          <ion-select-option value="CASH">{{'PaymentType.CASH' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Subscription</ion-label>
        <ion-select id="field_subscription" formControlName="subscription" [compareWith]="compareIWESubscription">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option
            [value]="iWESubscriptionOption.id === subscriptionSpecification.subscription?.id ? subscriptionSpecification.subscription : iWESubscriptionOption"
            *ngFor="let iWESubscriptionOption of subscriptions; trackBy: trackIWESubscriptionById"
            >{{iWESubscriptionOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
