<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h2>List of upcoming bookings</h2>

  <p *ngIf="!bookings?.length">
    <ion-label>
      No upcoming bookings found.
    </ion-label>
  </p>
  <ion-list>
    <ion-item-sliding *ngFor="let booking of bookings; trackBy: trackId" #slidingItem>
      <ion-item *appHasAnyAuthority="'ROLE_SERVICE_PROVIDER'">
        <ion-thumbnail slot="start">
          <img-loader [src]=booking.serviceConsumer.imageUrl [useImg]="true"></img-loader>
        </ion-thumbnail>
        <ion-label><strong>Name:</strong> {{booking.serviceConsumer.user ? booking.serviceConsumer.user.firstName  + ' ' +  booking.serviceConsumer.user.lastName : ''}}<br>
          <strong>Location:</strong> {{booking.serviceConsumer.location}}<br>
          <strong>Time:</strong> {{booking.dateTime | date:'medium'}}</ion-label>
      </ion-item>
      <ion-item *appHasAnyAuthority="'ROLE_USER'">
        <ion-thumbnail slot="start">
          <img-loader [src]=booking.serviceProvider.imageUrl [useImg]="true"></img-loader>
        </ion-thumbnail>
        <ion-label><strong>Name:</strong> {{booking.serviceProvider.user ?  booking.serviceProvider.user.firstName + ' ' +  booking.serviceProvider.user.lastName : ''}}<br>
          <strong>Location:</strong> {{booking.serviceProvider.location}}<br>
          <strong>Time:</strong> {{booking.dateTime | date:'medium'}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
