<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="" [icon]="">
      </ion-back-button>
    </ion-buttons>
    <ion-icon class="elipse_menu" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/undraw_booked_re_vtod.svg" style="padding-top: 30px">
  <ion-grid class="padding-y">
    <h3 class="pageTitle" style="padding-top: 40px">Booking Confirmation</h3>

    <ion-row class="mt-sm">
      <ion-col>
        <div class="ion-text-center">
          <p class="mb-md">Thanks <span class="fw-bold">{{this.authProvider.user?.firstName}} {{this.authProvider.user?.lastName}}</span>. Your booking with <span class="fw-bold">{{this.bookingProvider.serviceProvider.user?.firstName}} {{this.bookingProvider.serviceProvider.user?.lastName}}</span> is confirm </p>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
