<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Coment
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Content</ion-label>
        <ion-input type="text" name="content" formControlName="content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Picture Url</ion-label>
        <ion-input type="text" name="pictureUrl" formControlName="pictureUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Created At</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="createdAt" id="field_createdAt"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Reaction</ion-label>
        <ion-select id="field_reaction" formControlName="reaction" [compareWith]="compareReaction">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option
            [value]="reactionOption.id === coment.reaction?.id ? coment.reaction : reactionOption"
            *ngFor="let reactionOption of reactions; trackBy: trackReactionById"
            >{{reactionOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
