<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <span class="hipster"></span>
  <div>
    <h5 style="margin-bottom: 200px; text-align: center">H5: The quick brown fox jumps over the lazy dog</h5>
    <ion-button class="btn-sigin" style="margin-right: 20px; margin-left: 30px; width: 150px; height: 50px;" expand="" routerLink="/login" id="signIn">LOG IN</ion-button>
    <ion-button style=" width: 150px; height: 50px" routerLink="/signup" class="btn-signup">SIGN UP</ion-button>
  </div>
</ion-content>
