<ion-content color="primary">
  <div class="xc fullheight">
    <div class="hcs">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img src="../assets/iwe_logo.webp" />
          </ion-col>
        </ion-row>
        <h2 class="pageTitle">Welcome To IWE</h2>
        <h3 class="subtitle">Your personal care partner</h3>
        <ion-row class="ion-text-center ion-margin-top">
          <ion-col size="6"><ion-button routerLink="/login" fill="outline" color="secondary" expand="block">Login</ion-button></ion-col>
          <ion-col size="6"><ion-button routerLink="/signup" fill="solid" color="secondary" expand="block">Sign Up</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
