<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <span class="hipster"></span>
  <div>
    <h5 style="margin-bottom: 150px; text-align: center">H5: The quick brown fox jumps over the lazy dog</h5>
    <button class="btn-sigin"  style=" margin-right: 20px; margin-left: 30px; width: 150px; height:60px;" routerLink="/login">LOG IN</button>
    <button class="btn-signup" style=" width: 150px; height: 60px" routerLink="/signup" class="btn-signup">SIGN UP</button>
  </div>
</ion-content>
