<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Picture Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Content</ion-label>
      <div item-content>
        <div *ngIf="picturePost.content">
          <a (click)="openFile(picturePost.contentContentType, picturePost.content)">
            <img
              [src]="'data:' + picturePost.contentContentType + ';base64,' + picturePost.content"
              style="max-width: 100%;"
              alt="picturePost image"
            />
          </a>
          {{picturePost.contentContentType}}, {{byteSize(picturePost.content)}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Post</ion-label>
      <div item-content *ngIf="picturePost.post">
        <a>{{picturePost.post?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(picturePost)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="primary" (click)="deleteModal(picturePost)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
