<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page_header ion-text-center ion-padding-top">
    <img src="../assets/iwe_logo.webp" />
  </div>
  <h1 class="ion-padding-top ion-text-center pageTitle">Sign Up</h1>

  <form (submit)="doSignup()">
    <ion-grid class="ion-margin-top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-input
            type="string"
            [(ngModel)]="account.firstName"
            name="firstName"
            color="primary"
            placeholder="first name"
            class="input-white"
          ></ion-input>
        </ion-col>
        <ion-col size="8">
          <ion-input
            type="string"
            [(ngModel)]="account.lastName"
            name="lastName"
            color="primary"
            placeholder="last name"
            class="input-white mt-2"
          ></ion-input>
        </ion-col>
        <ion-col size="8">
          <ion-input
            type="email"
            [(ngModel)]="account.email"
            name="email"
            color="primary"
            placeholder="email"
            class="input-white mt-2"
          ></ion-input>
        </ion-col>
        <ion-col size="8">
          <ion-input
            type="password"
            [(ngModel)]="account.password"
            name="password"
            color="primary"
            placeholder="password"
            class="input-white mt-2"
          ></ion-input>
        </ion-col>
      </ion-row>
<!--      <ion-row class="ion-justify-content-center" >-->
<!--        <ion-col>-->
<!--          <ion-list>-->
<!--            <ion-radio-group>-->
<!--              <ion-list-header>-->
<!--                <ion-label>Name</ion-label>-->
<!--              </ion-list-header>-->

<!--              <ion-item color="">-->
<!--                <ion-label >Biff</ion-label>-->
<!--                <ion-radio slot="start"></ion-radio>-->
<!--              </ion-item>-->

<!--              <ion-item>-->
<!--                <ion-label>Griff</ion-label>-->
<!--                <ion-radio slot="start" value="griff"></ion-radio>-->
<!--              </ion-item>-->
<!--            </ion-radio-group>-->
<!--          </ion-list>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
    </ion-grid>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="4">
        <ion-button expand="block" fill="solid" type="submit" color="secondary">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
