<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ride
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Departure</ion-label>
      <div item-content>
        <span>{{ride.departure}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Destination</ion-label>
      <div item-content>
        <span>{{ride.destination}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Started At</ion-label>
      <div item-content>
        <span>{{ride.startedAt | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Ended At</ion-label>
      <div item-content>
        <span>{{ride.endedAt | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Location Service Provider</ion-label>
      <div item-content *ngIf="ride.locationServiceProvider">
        <a>{{ride.locationServiceProvider?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Service Consumer</ion-label>
      <div item-content *ngIf="ride.serviceConsumer">
        <a>{{ride.serviceConsumer?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Service Provider</ion-label>
      <div item-content *ngIf="ride.serviceProvider">
        <a>{{ride.serviceProvider?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(ride)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(ride)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
