ion-item.input_grey {
  background: #c2c5ca;
  border-radius: 5px;
  color: #2e3442;
  border: none !important;

  ion-input {
    font-size: 14px;
    --background: #c2c5ca;
    --color: #2e3442;
    --placeholder-color: #2e3442 !important;
    --placeholder-font-weight: 300;
    border: none !important;
  }
}
