ion-item.input_grey {
    background: #C2C5CA;
    border-radius: 5px;
    color: #2E3442;
    border: none!important;

    ion-input {
        font-size: 14px;
        --background: #C2C5CA;
        --color: #2E3442;
        --placeholder-color: #2E3442!important;
        --placeholder-font-weight: 300;
        border: none!important;
    }
}