.padding-y {
    padding-left: 20px;
    padding-right: 20px;
}

.mb-sm {
    margin-bottom: 10px;
}

.mt-sm {
    margin-top: 10px;
}

.mb-sm {
    margin-bottom: 10px;
}

.mb-md {
    margin-bottom: 20px;
}

.mt-header {
    padding-top: 40px;
}

.mb-heading {
    margin-bottom: 30px;
}

.add_space {
    margin-right: 3px;
}

// Padding 

.padding-top-md {
    padding-top: 25px;
}

.padding-top-sm {
    padding-top: 15px;
}