// Typograghy

.fw-light {
    font-weight: 300;
}

.fw-reg {
    font-weight: 400;
}

.fw-bold {
    font-weight: 600;
}

.fz-sm {
    font-size: 12px;
}

h3 {
    font-size: 18px!important;
}

// Icons

.success_icon {
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}