<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <span class="hipster" style="margin-bottom: 50px"></span>

  <h3 style="text-align: center; margin-bottom: 40px">Login</h3>

  <form (submit)="doLogin()" style="background-color: #2E3442">
    <div style="margin:0 auto; width:350px;">
      <input style="margin-bottom: 10px; width: 350px; height: 50px; border-radius: 5px; text-indent: 10px" placeholder="Username/Email Address" type="string"/>
    </div>
    <div style="margin:0 auto; width:350px;">
      <input type="password" style="width: 350px; height: 50px; border-radius: 5px; text-indent: 10px" placeholder="Password"/>
    </div>
    <div style="margin:0 auto; width:350px;">
      <p style="text-align: right; margin-bottom: 70px">Forgot Password?</p>
    </div>
    <div style="margin:0 auto; width:200px;">
      <button style="width: 190px; height: 60px" type="submit" class="btn-submit" id="login">LOGIN</button>
    </div>
  </form>
</ion-content>
