<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Content</ion-label>
      <div item-content>
        <span>{{message.content}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Sender</ion-label>
      <div item-content>
        <span>{{message.sender}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Receiver</ion-label>
      <div item-content>
        <span>{{message.receiver}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Timestamp</ion-label>
      <div item-content>
        <span>{{message.timestamp | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Service Consumer</ion-label>
      <div item-content *ngIf="message.serviceConsumer">
        <a>{{message.serviceConsumer?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Service Provider</ion-label>
      <div item-content *ngIf="message.serviceProvider">
        <a>{{message.serviceProvider?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(message)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(message)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
