<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]=""
          [icon]="">
      </ion-back-button>
    </ion-buttons>
    <ion-icon class="elipse_menu" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/undraw_performance_overview_re_mqrq.svg" style="padding-top: 30px">
<ion-grid class="padding-y">

  <ion-row class="mt-sm">
    <ion-col>
      <div class="ion-text-center">
        <h3 class="mb-heading pageTitle">Your Booking Overview:</h3>
        <p class="mb-sm"><span class="fw-bold">Date and Time :</span> {{this.bookingProvider.dateTime}}</p>
        <p class="mb-sm"><span class="fw-bold">Service Provider Location :</span>{{this.bookingProvider.serviceProvider?.location}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-end">
    <ion-col>
      <ion-button (click)="save()" fill="solid" color="secondary" expand="block" class="btn-md fw-bold">Confirm</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
