<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Video Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Content</ion-label>
      <div item-content>
        <div *ngIf="videoPost.content">
          <a (click)="openFile(videoPost.contentContentType, videoPost.content)" jhiTranslate="entity.action.open">open</a>
          {{videoPost.contentContentType}}, {{byteSize(videoPost.content)}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Duration</ion-label>
      <div item-content>
        <span>{{videoPost.duration}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Post</ion-label>
      <div item-content *ngIf="videoPost.post">
        <a>{{videoPost.post?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(videoPost)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(videoPost)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
