<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Location Service Provider
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="locationServiceProvider.trafficRegistration">
            <p>{{locationServiceProvider.trafficRegistrationContentType}}, {{byteSize(locationServiceProvider.trafficRegistration)}}</p>
            <ion-button
              color="danger"
              (click)="locationServiceProvider.trafficRegistration=null;locationServiceProvider.trafficRegistrationContentType=null;form.patchValue({'trafficRegistration': ''});form.patchValue({'trafficRegistrationContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'trafficRegistration', false)" />
        </div>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="locationServiceProvider.criminalRecord">
            <p>{{locationServiceProvider.criminalRecordContentType}}, {{byteSize(locationServiceProvider.criminalRecord)}}</p>
            <ion-button
              color="danger"
              (click)="locationServiceProvider.criminalRecord=null;locationServiceProvider.criminalRecordContentType=null;form.patchValue({'criminalRecord': ''});form.patchValue({'criminalRecordContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'criminalRecord', false)" />
        </div>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="locationServiceProvider.taxRegistration">
            <p>{{locationServiceProvider.taxRegistrationContentType}}, {{byteSize(locationServiceProvider.taxRegistration)}}</p>
            <ion-button
              color="danger"
              (click)="locationServiceProvider.taxRegistration=null;locationServiceProvider.taxRegistrationContentType=null;form.patchValue({'taxRegistration': ''});form.patchValue({'taxRegistrationContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'taxRegistration', false)" />
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
