<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Service Provider
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Tax Registration Url</ion-label>
      <div item-content>
        <span>{{serviceProvider.taxRegistrationUrl}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">License Of Trade Url</ion-label>
      <div item-content>
        <span>{{serviceProvider.licenseOfTradeUrl}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Criminal Record Url</ion-label>
      <div item-content>
        <span>{{serviceProvider.criminalRecordUrl}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Location</ion-label>
      <div item-content>
        <span>{{serviceProvider.location}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Subscription</ion-label>
      <div item-content *ngIf="serviceProvider.subscription">
        <a>{{serviceProvider.subscription?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Rating</ion-label>
      <div item-content>
        <span *ngFor="let rating of serviceProvider.ratings; let last = last"> <a>{{rating.id}}</a>{{last ? '' : ', '}} </span>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(serviceProvider)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(serviceProvider)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
