<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Service Provider
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="serviceProvider.taxRegistration">
            <p>{{serviceProvider.taxRegistrationContentType}}, {{byteSize(serviceProvider.taxRegistration)}}</p>
            <ion-button
              color="danger"
              (click)="serviceProvider.taxRegistration=null;serviceProvider.taxRegistrationContentType=null;form.patchValue({'taxRegistration': ''});form.patchValue({'taxRegistrationContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'taxRegistration', false)" />
        </div>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="serviceProvider.licenseOfTrade">
            <p>{{serviceProvider.licenseOfTradeContentType}}, {{byteSize(serviceProvider.licenseOfTrade)}}</p>
            <ion-button
              color="danger"
              (click)="serviceProvider.licenseOfTrade=null;serviceProvider.licenseOfTradeContentType=null;form.patchValue({'licenseOfTrade': ''});form.patchValue({'licenseOfTradeContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'licenseOfTrade', false)" />
        </div>
      </ion-item>
      <ion-item>
        <div>
          <div *ngIf="serviceProvider.criminalRecord">
            <p>{{serviceProvider.criminalRecordContentType}}, {{byteSize(serviceProvider.criminalRecord)}}</p>
            <ion-button
              color="danger"
              (click)="serviceProvider.criminalRecord=null;serviceProvider.criminalRecordContentType=null;form.patchValue({'criminalRecord': ''});form.patchValue({'criminalRecordContentType': ''})"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput (change)="setFileData($event, 'criminalRecord', false)" />
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" name="location" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Subscription</ion-label>
        <ion-select id="field_subscription" formControlName="subscription" [compareWith]="compareIWESubscription">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option
            [value]="iWESubscriptionOption.id === serviceProvider.subscription?.id ? serviceProvider.subscription : iWESubscriptionOption"
            *ngFor="let iWESubscriptionOption of subscriptions; trackBy: trackIWESubscriptionById"
            >{{iWESubscriptionOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
