<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Service Provider
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tax Registration Url</ion-label>
        <ion-input type="text" name="taxRegistrationUrl" formControlName="taxRegistrationUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">License Of Trade Url</ion-label>
        <ion-input type="text" name="licenseOfTradeUrl" formControlName="licenseOfTradeUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Criminal Record Url</ion-label>
        <ion-input type="text" name="criminalRecordUrl" formControlName="criminalRecordUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" name="location" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Subscription</ion-label>
        <ion-select id="field_subscription" formControlName="subscription" [compareWith]="compareIWESubscription">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option
            [value]="iWESubscriptionOption.id === serviceProvider.subscription?.id ? serviceProvider.subscription : iWESubscriptionOption"
            *ngFor="let iWESubscriptionOption of subscriptions; trackBy: trackIWESubscriptionById"
            >{{iWESubscriptionOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Rating</ion-label>
        <ion-select id="field_rating" multiple="true" formControlName="ratings" [compareWith]="compareRating">
          <ion-select-option [value]="ratingOption" *ngFor="let ratingOption of ratings; trackBy: trackRatingById"
            >{{ratingOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
