<ion-header class="ion-header" color="primary">
  <ion-toolbar>
    <img class="header_logo" src="../assets/img/iwe_logo.png"/>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu">
        <ion-icon class="elipse_menu" name="ellipsis-vertical"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadFeeds($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card (click)="openSingle({id: 1})" color="light" class="SP_card" *ngFor="let feed of feeds; trackBy: trackId" #slidingItem>
    <ion-card-header>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-no-padding">
          <ion-col size="8" class="ion-no-padding">
            <p class="sp_title">{{feed.name}}</p>
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
            <ion-button class="follow_btn" routerLink="/chat">Follow</ion-button>
            <ion-icon class="post_popover" name="ellipsis-vertical"></ion-icon>
            <div class="clear"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <div class="image_wrapper">
        <div class="like">
          <ion-icon name="heart-outline"></ion-icon>
        </div>
        <span *ngIf="feed.picture">
          <img class="card_image" [src]="'data:' + feed.pictureContentType + ';base64,' + feed.picture"/>
        </span>
      </div>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-no-padding mb-sm">
          <ion-col size="8" class="ion-no-padding">
            <p class="fz-sm">
              <ion-icon class="icon" name="location-outline"></ion-icon>
              {{feed.location}}</p>
          </ion-col>
          <ion-col size="4" class="ion-align-self-end ion-no-padding ion-text-right">
            <p class="fz-sm" *ngIf="feed.price">
              <ion-icon class="icon" name="pricetag-outline"></ion-icon>
              R {{feed.price}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="fz-sm">
        {{feed.description}}
      </p>
      {{feed.timePosted | date:'medium'}}
    </ion-card-content>
  </ion-card>
</ion-content>



