<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="" [icon]="">
      </ion-back-button>
    </ion-buttons>
    <ion-icon class="elipse_menu" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="padding-y">
    <ion-row class="mt-sm">
      <ion-col>
        <div class="ion-text-center">
          <ion-icon class="success_icon" name="checkmark-circle-outline"></ion-icon>
          <p class="mb-md">Thanks Jane Doe. Your booking with Barber Barber is confirm and <span class="fw-bold">John Doe</span> will be picking you up. </p>
        </div>
        <div class="ion-text-center">
          <h3 class="mb-heading">Driver Details:</h3>
          <div class="circle_image mb-md ion-text-center">
            <img src="../assets/img/driver.png" />
          </div>
          <p class="mb-sm"><span class="fw-bold">John Doe</span></p>
          <p class="mb-sm">Silver Toyota Corolla</p>
          <p class="mb-sm">CY 123 456</p>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
